@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am an MVP and this real working game is an example how to use Azure in Games. This game utilize Microsoft Azure services like Azure Functions, SQL Database, App Service, VM, Applipplication Insights, Traffic Manager. My MVP profile: https://mvp.microsoft.com/en-us/PublicProfile/5002168?fullName=Mariusz%20%20Ferdyn</p>
